<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/sideDrawer') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if(restaurants.length > 0) { %>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>We found <%= restaurants.length %> restaurants.</p>
      <form action="/restaurants" method="GET">
        <input type="hidden" value="<%= order %>" name="order" />
        <button id="change-order" class="btn">Change Order</button>
      </form>
      <ul id="restaurants-list">
        <% for(let restaurant of restaurants){ %> <%-
        include("includes/restaurants/restaurant", {restaurant}) %> <% } %>
      </ul>
      <% } else {%>
      <p>Be the first to recommend a restaurant!</p>
      <% } %>
    </main>
  </body>
</html>
